.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.overlay {
    left: 0;
    position: absolute;
    background-color: transparent;
    z-index: 1000;
}